.offersList {
  display: flex;
  background-color: #ebedee;
  padding: 30px;
}
.leftPartOffer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.leftPartOffer img {
  width: 450px;
  height: 600px;
}
.rightPartOffer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.leftCaracOffer {
  color: #ababab;
  font-size: 14px;
  line-height: 11.7px;
}
.rightCaracOffer {
  font-size: 14px;
  font-size: 14px;
  line-height: 11.7px;
}

.block {
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 40px;
}
.blockRightTop {
  margin-top: 60px;
  border-bottom: #ababab 1px solid;
}
.offerPrice {
  font-size: 24px;
  line-height: 32px;
}
.caracOffer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blockUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blockRightBot {
  margin-top: 30px;
}

.titleOffer {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
.descriptionOffer {
  font-size: 17px;
  color: #8f8f8f;
}

.blockUser {
  display: flex;
  align-items: center;
}
