.globalPayment {
  display: flex;
  background-color: #ebedee;
  justify-content: center;
  height: 2000px;
}
.blockPayment {
  background-color: white;
  width: 600px;
  height: 550px;

  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.paymentTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment {
  margin-top: 30px;
  height: 150px;
}
.firstBlock {
  display: flex;
  flex-direction: column;
}
.price {
  display: flex;
  justify-content: end;
}
.paymentText {
  margin-top: 200px;
}
.paymentTotal {
  margin-top: 20px;
}
