* {
  font-family: sans-serif;
}

.page {
  margin: 0 auto;
}
.home {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.about {
  background: bisque;
}

/* HEADER */

.Header {
  display: flex;
  height: 120px;
  border: solid 1px black;
  width: 100%;
}
.leftHeader {
  width: 10%;
}
.leftHeader img {
  width: 200px;
}

.centerHeader {
  width: 60%;
}
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  height: 50px;
}

/* OFFER */

.container {
  display: flex;
  flex-direction: column;
}
.container img {
  width: 230px;
  height: 360px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user {
  font-size: 12px;
  color: #adadad;
  display: flex;
  align-items: center;
}

.offersList {
  display: flex;
  background-color: #ebedee;
  padding: 30px;
}
.leftPartOffer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.leftPartOffer img {
  width: 450px;
  height: 600px;
}
.rightPartOffer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.leftCaracOffer {
  color: #ababab;
  font-size: 14px;
  line-height: 11.7px;
}
.rightCaracOffer {
  font-size: 14px;
  font-size: 14px;
  line-height: 11.7px;
}

.block {
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 40px;
}
.blockRightTop {
  margin-top: 60px;
  border-bottom: #ababab 1px solid;
}
.offerPrice {
  font-size: 24px;
  line-height: 32px;
}
.caracOffer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blockUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blockRightBot {
  margin-top: 30px;
}

.titleOffer {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
.descriptionOffer {
  font-size: 17px;
  color: #8f8f8f;
}

.blockUser {
  display: flex;
  align-items: center;
}

/* LOGIN */

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginForm {
  margin-top: 100px;
  width: 300px;
  height: 100px;
  border: solid 1px black;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* CONNECT PAGE  */

.connectContainer {
  display: flex;
  justify-content: center;
}
.connectForm {
  margin-top: 100px;
  width: 300px;
  height: 100px;
  border: solid 1px black;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
