* {
  font-family: sans-serif;
}

.page {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.home {
  background: rebeccapurple;
}
.about {
  background: bisque;
}
.offer {
  background: aqua;
}

/* HEADER */

.Header {
  display: flex;
  height: 120px;
  border: solid 1px black;
  width: 100%;
}
.leftHeader {
  width: 10%;
}
.leftHeader img {
  width: 200px;
}

.centerHeader {
  width: 60%;
}
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  height: 50px;
}
